* {
  box-sizing: border-box;
}

html {
  --font-family: 'Merriweather';
  --font-size: 16px;
  --text-color: #e4f7f7;
  --background-color: #524357;
  --image-rendering: auto;
  --max-width: 750px;

  font-family: var(--font-family), serif;
  font-size: var(--font-size);
  background-color: var(--background-color);
  color: var(--text-color);
  image-rendering: var(--image-rendering);

  line-height: 1.5;
}

#main-holder {
  max-width: var(--max-width);
  margin: 1rem auto;
  transition: opacity 0.3s;
  opacity: 1;
}

#passage-name {
  font-size: 1.3rem;
  text-align: center;
  padding: 2rem 0.5rem;
}

#choices {
  margin-top: 1.5rem;
  clear: both;
}

#choice-list {
  list-style-type: none;
}

#choice-list li {
  margin-bottom: 0.8em;
  cursor: pointer;
  width: fit-content;
  padding: 2px 8px;
  background-color: rgba(from var(--text-color) r g b / 0.15);
  border-radius: 10px;
}

@media screen and (width < 600px) {
  #choice-list li {
    width: 80%;
  }

  /* Don't allow floated images to consume an extravagant amount of screen width. */
  :is(.float-left, .float-right) img {
    max-width: 50vw;
  }
}

/* The below classes are used for the #passage-image div */
.float-left { float: left; margin: 0 20px 20px 0; }
.float-right { float: right; margin: 0 0 20px 20px; }

.align-left, .align-center, .align-right { margin-bottom: 20px; }
.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }

img {
  max-width: 100%;
}

.passage-link {
  cursor: pointer;
  background-color: rgba(from var(--text-color) r g b / 0.15);
  padding: 0px 4px;
  border-radius: 4px;
}
